#CGPA_Label {
    -fx-background-image: url("images.jpeg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-padding: 20;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-background-radius: 10;
}

#Show_Label {
    -fx-background-image: url("image2.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-padding: 20;
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, black, 5, 0.3, 0, 0);
    -fx-background-radius: 10;
}
